body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#D8D8FD;
  background-color:#020115;
}


  .Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px; 
    height: 100vh;
    background-color:#807af9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    transition: width 0.3s ease; 
    border-radius: 15px;
  }

.Sidebar:hover {
  width: 150px; /* Expanded width on hover */
}

.Sidebar div {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items at the start of the container */
  height: 50px; /* Height of each item */
  width: 100%; /* Ensure full width */
  padding-left: 10px; /* Add padding to align items properly */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.material-symbols-outlined {
  color: white; /* Icon color */
  font-size: 24px; /* Icon size */
  margin-right: 10px; /* Adjust spacing between icon and text */
}

span {
  color: white; /* Text color */
  font-size: 14px; /* Text size */
  opacity: 0; /* Initially hide text */
  transition: opacity 0.3s ease; /* Transition for opacity change */
}

.Sidebar:hover span,
.Sidebar:hover .material-symbols-outlined {
  opacity: 1; /* Show icons and text when sidebar is hovered */
}

.Sidebar div:not(:hover) .material-symbols-outlined {
  opacity: 1; /* Show icons only when sidebar is not hovered */
}

.balance {
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px; /* Adjust this value as needed */
    background-color: #807AF9;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    display: inline-block; /* Ensure balance is displayed inline */
}
h3{
  margin-left: 100px;
}
.transactions {
    display: inline-block;
    margin-left: 80px;
    background-color: #807AF9;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    
}
