body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e9eff1;
  background-color: #040708;
}

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  background-color: #807af9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: width 0.3s ease;
  border-radius: 15px;
  font-size: 30px;
}

.Sidebar:hover {
  width: 200px; /* Expanded width on hover */
  font-size: 30px;
}

.Sidebar div {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items at the start of the container */
  height: 50px; /* Height of each item */
  width: 100%; /* Ensure full width */
  padding-left: 10px; /* Add padding to align items properly */
  box-sizing: border-box; /* Include padding in the width calculation */
  font-size: 30px;
}

.material-symbols-outlined {
  color: white; /* Icon color */
  font-size: 30px; /* Icon size */
  margin-right: 10px; /* Adjust spacing between icon and text */
}

span {
  color: white; /* Text color */
  font-size: 22px; /* Text size */
  opacity: 0; /* Initially hide text */
  transition: opacity 0.3s ease; /* Transition for opacity change */
}

.Sidebar:hover span,
.Sidebar:hover .material-symbols-outlined {
  opacity: 1; /* Show icons and text when sidebar is hovered */
}

.Sidebar div:not(:hover) .material-symbols-outlined {
  opacity: 1; /* Show icons only when sidebar is not hovered */
}
.Dashboard {
  margin-top: 50px;
}

.balance {
  position: static;
  display: inline-block;
  font-size: 32px;
  margin-top: 20px;
  margin-left: 290px; /* Adjust this value as needed */
  background-color: #0d1113;
  width: 1000px;
  padding: 20px;
  border-radius: 8px;
  display: inline-block; /* Ensure balance is displayed inline */
  border-style: solid;
  border-color: #a3b4d8;
}
h3 {
  margin-left: 35%;
  font-size: 32px;
}
.transactions {
  position: static;
  display: inline-block;
  font-size: 25px;
  margin-left: 290px;
  background-color: #0d1113;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #a3b4d8;
}

td {
  padding: 10px 45px;
}
.sendMoney {
  position: static;
  display: inline-block;
  margin-top: 30px;
  margin-left: 100px;
  background-color: #0d1113;
  padding: 20px;
  font-size: 32px;
  border-radius: 5px;
  border-style: solid;
  border-color: #a3b4d8;
  width: 250px;
}
.icon {
  font-size: 67px;
  margin-left: 25%;
}
.withdrawMoney {
  position: static;
  display: inline-block;
  margin-top: 30px;
  background-color: #0d1113;
  padding: 20px;
  font-size: 32px;
  border-radius: 5px;
  border-style: solid;
  border-color: #a3b4d8;
  width: 250px;
}
.titleArea {
  margin-left: 210px;
}
.withdrawStatement {
  font-size: 40px;
}
.catchPhrase {
  font-size: 20px;
}
.balanceCard {
  position: static;
  display: inline-block;
  font-size: 32px;
  margin-top: 20px;
  margin-left: 210px; /* Adjust this value as needed */
  background-color: #0d1113;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  display: inline-block; /* Ensure balance is displayed inline */
  border-style: solid;
  border-color: #a3b4d8;
}
.withdrawCard {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 400px 400px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  align-items: stretch;
  margin-left: 200px;
  font-size: 20px;
}

input {
  width: 390px;
  border-radius: 10px;
  height: 20px;
}
